#red{
position: relative;
left: 50px;
top: 20px;
background-color: red;
}
#green {
position: relative;
left: 100px;
top: 50px;
background-color: green;
}
#blue {
position: relative;
left: 150px;
top: 20px;
background-color: blue;
}
#yellow {
position: relative;
left: 200px;
top: 20px;
background-color: yellow;
}
