body{
font-family:Roboto,sans-serif,arial;
font-size:14px;
color:#242424;
margin:0;
text-align:center;
font-family:"Poppins",sans-serif;
/*text-shadow:0px 0px 3px rgb(211,208,208);*/
color:#1d3557;
line-height:25px;
}
img
{
width:1000px;
}
.hero{
color:#ffffff;
height:200px;
background-image:url(banner.jpg);
background-size:cover;
background-position:center;
background-repeat:repeat;
display:flex;
flex-direction:column;
align-items:center;
padding:4%;
}
h3{
margin-top:0;
padding-bottom:20px;
}
#title{
background:#1d3557;
padding: 5px 10px;
border-radius:5px;
margin:0 0 0 0;
margin-top:80px;
}
#intro{
text-align:center;
padding:5 px 10 px;
border-radius:5px;
margin:5px 0 10px 0;
width:800px;
line-height:35px;
}
#activities{
background-color:#f1faee;
padding-top:50px;
padding-bottom:50px;
display:flex;
flex-direction:column;
align-items:center;
}
#images{
width:950px;
display: flex;
flex-direction:row;
justify-content:space-between;
}
#activities img{
width:150px;
height:150px;
border-radius:50%;
object-fit: cover;
}
#activity{
width:400px;
font-weight:500;
text-align: center;
}
.avatar{
width:150px;
}
.border-blue {
border: 1px dotted #1d3557;
}
#intro {
width: unset;
opacity: 0.8;
}
#images {
width: unset;
flex-direction: column;
display: grid;
grid-template-columns: repeat(3,250px); 
grid-template-rows: repeat(3,250px); 
gap: 250px; 
justify-items: center;

}
#morocco {
background: #1d3557;
border-radius: 5px;
padding: 5px;
}
